@import "../../../Assets/sass/vars"

.portfolio
  &-main
    text-align: center
    font-size: 3.125em
    background: url($image-portfolio-header) no-repeat
    background-size: 120%
    margin-left: -3vw
    height: 90vh
    width: 108vw
    &-master
      filter: grayscale(100%)
      transition: .5s ease
      margin-top: 30vh
      width: 35vw
      &:hover
        cursor: pointer
        filter: grayscale(0%) !important
        transition: .5s ease
        transform: scale(1.05, 1.05)