.home-footer
  &-carousel
    background: #E0E0E0
    height: 60vh
    cursor: default
    display: flex
    justify-content: center
    align-items: center
  &-container
    background: white
    display: flex
    justify-content: center
    align-items: center
    width: 80vw
    height: 40vh
  &-avatar
    width: 10vw
    img
      height: 10vw
      object-fit: cover
      border-radius: 100px
  &-review
    margin-left: 2vw
    max-width: 50vw
    text-align: left
  &-title
    border-bottom: 1px solid black
    font-size: 2em
    font-family: 'ComfortaaB', 'sans-serif'
  &-comment, &-quality, &-price
    font-size: 1.5em
    font-family: 'ComfortaaR', 'sans-serif'


.carousel .control-next.control-arrow:before
  margin-left: 3vw
  padding-right: 2.5vw
  border-left: 2vw solid #000
  border-top: 1.5vw solid transparent
  border-bottom: 1.5vw solid transparent

.carousel .control-prev.control-arrow:before
  margin-right: 3vw
  padding-left: 2.5vw
  border-right: 2vw solid #000
  border-top: 1.5vw solid transparent
  border-bottom: 1.5vw solid transparent
