@import "../../../Assets/sass/vars"

.home-footer
  &-carousel
    background: lighten($accent-color, 7%)
    height: 60vh
    cursor: default
    display: flex
    justify-content: center
    align-items: center
  &-container
    box-shadow: 0 0 20px rgba(0, 0, 0, .3)
    border-radius: 5px
    background: white
    display: flex
    justify-content: center
    align-items: center
    width: 80vw
    height: 40vh
  &-avatar
    width: 10vw
    img
      height: 10vw
      object-fit: cover
      border-radius: 100px
  &-review
    margin-left: 2vw
    max-width: 50vw
    text-align: justify
  &-title
    text-indent: 2vw
    border-bottom: 2px solid darken($accent-color, 5%)
    font-size: 2em
    font-family: 'ComfortaaB', 'sans-serif'
  &-comment, &-quality, &-price
    font-size: 1.5em
    font-family: 'ComfortaaR', 'sans-serif'
  &-comment
    text-indent: 2vw
    margin-top: 1.5vh
  &-quality
    margin-top: 1vh
  &-stars
    text-indent: .2vw
    color: darken($accent-color, 5%)
    margin-left: .5vw
    &-selected
      color: $second-color



.carousel .control-next.control-arrow:before
  margin-left: 3vw
  padding-right: 2.5vw
  border-left: 2vw solid #000
  border-top: 1.5vw solid transparent
  border-bottom: 1.5vw solid transparent

.carousel .control-prev.control-arrow:before
  margin-right: 3vw
  padding-left: 2.5vw
  border-right: 2vw solid #000
  border-top: 1.5vw solid transparent
  border-bottom: 1.5vw solid transparent

.carousel .control-dots .dot
  background: lighten($main-color, 10%)
