@import "../../../Assets/sass/vars"

.preloader
  position: absolute
  left: 0
  top: 0
  z-index: 9999
  background: black
  width: 100%
  height: 100%
  span
    width: 100%
    height: 100%
    position: fixed
    top: 0
    left: 0
    display: flex
    align-items: center
    align-content: center
    justify-content: center
    overflow: auto

.home
  &-container
    position: relative
    top: 50%
    left: 50%
    width: 100vw
    margin-left: -50vw
    margin-right: -50vw
  &-header
    text-align: center
    font-size: 3.125em
    background: url($image-header) no-repeat
    border-bottom: 1px solid black
    background-size: 120%
    margin-left: -3vw
    height: 100vh
    width: 108vw
    &-down
      color: $accent-color
      cursor: pointer
      margin-top: 25vh
      animation: moveDown infinite 5s
      transition: .5s ease
      &:hover
        color: darken($accent-color, 20%)
        animation: none
        transition: 1s ease
      &:active
        margin-top: 27vh
        transition: .3s linear
    div
      color: $main-color
      margin-top: 2vh
      font-family: 'ComfortaaL', 'sans-serif'
    &-logo
      color: $main-color
      font-size: 2.5vw
      margin-left: -5vw
      margin-top: .8vh !important
      font-family: 'Indie Flower', 'sans-serif' !important
    &-link
      text-decoration: none
      margin-left: 23%
      font-size: 1.6vw
      font-family: 'ComfortaaL', 'sans-serif'
      a
        float: left
        margin-left: 2vw
        color: $main-color
        text-decoration: none
        border-bottom: 0 solid $main-color
        transition: .1s ease
        &:first-child
          margin-left: 8vw
        &:hover
          border-bottom: 3px solid $main-color
          transition: .2s ease
    &-title
      padding-top: 30vh
    &-button
      will-change: transform, opacity
      padding: 12px 0 12px 0
      width: 250px
      margin: 0 auto
      color: $button-color
      border: 1px solid $main-lighten-color
      background: $background-button-color
      font-size: 0.6em
      font-family: 'ComfortaaR', 'sans-serif'
      transition: .5s ease
      border-radius: 5px
      &:hover
        cursor: pointer
        border: 1px solid rgba(255, 0, 21, 0.05)
        background: $second-color
        opacity: .7
        color: $accent-color
        transition: .5s ease
      &:active
        transform: scale(0.98, 0.98)
        background: darken($second-color, 5%)
        color: $accent-color
  &-main
    background: lighten($accent-color, 9%)
    text-align: center
    &-title
      font-size: 4.5em
      margin-top: 7vh
      margin-bottom: -2vh
      color: $main-color
      font-family: 'ComfortaaB', 'sans-serif'
    &-tagline
      color: $tagline-text
      font-size: 2em
      font-family: 'ComfortaaL', 'sans-serif'
      margin-bottom: 3vh
      a
        color: $second-color
        font-family: 'ComfortaaB', 'sans-serif'
        border-bottom: 0 solid $second-color
        transition: .1s ease
        &:hover
          text-decoration: none
          color: $second-color
          border-bottom: 3px solid $second-color
          transition: .2s ease
    &-icon
      margin-top: 4vh
      margin-bottom: 2vh
      &-title
        margin-bottom: 2vh
        background: $second-color
        color: $accent-color
        opacity: .9
        font-family: 'ComfortaaB', 'sans-serif'
        font-size: 1.5em
        padding-top: 1.3vh
        padding-bottom: 1.3vh
        transition: .3s
        &:hover
          animation: moveLeftRight .3s ease
          color: darken($accent-color, 5%)
          transition: .3s
      &-about
        color: $tagline-text
        margin: 0 auto !important
        width: 25vw
        font-family: 'ComfortaaL', 'sans-serif'
        font-size: 1.4em
    &-parallax
      margin-top: 15vh
      margin-bottom: 7vh
      border-bottom: 1px solid black
      border-top: 1px solid black
      &-container
        width: 100vw
        height: 80vh
    &-masonry
      margin-top: 5vh
      margin-left: 4vw
      &-border
        position: relative
        z-index: 99
        margin-top: -9vh
        background: lighten($accent-color, 9%)
        height: 15vh
    &-examples
      img
        width: 23vw
        padding: 5px
      &:hover
        cursor: pointer
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          background: black
          opacity: .5
          width: 100%
          animation: heightUpToDown .5s
          border: 5px solid lighten($accent-color, 9%)
          height: 100%
        &::after
          content: ""
          position: absolute
          top: 37%
          left: 40%
          background: url('../../../Assets/img/glass.png') no-repeat
          background-size: 20%
          width: 100%
          height: 100%
          animation: opacityGlass 1s
      &:not(:hover)
        &::before
          content: ""
          position: absolute
          top: 0
          left: 0
          width: 100%
          animation: heightDownToUp 1s
          border: 5px solid lighten($accent-color, 9%)
          height: 100%

.importantly
  background: white
  &-title
    margin-top: -2vh
    margin-bottom: 2vh
    padding-top: 10vh
  &-tagline div
    margin: 0 auto !important
    width: 70vw
  &-button
    width: 30vw
    padding: 2vh 0
    font-size: 2em
    margin-bottom: 7vh
    color: $accent-color
    border: 0 solid $main-lighten-color !important
    background: $second-color
    &:hover
      background: lighten($second-color, 10%)
      opacity: 1
    &:active
      background: darken($second-color, 5%)


@keyframes opacityGlass
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes heightUpToDown
  0%
    opacity: 0
    height: 0
    border-bottom: 5px solid black
  50%
    opacity: .5
  90%
    border-bottom: 0 solid black
  100%
    height: 100%
    border-bottom: 5px solid lighten($accent-color, 9%)

@keyframes heightDownToUp
  0%
    background: black
    height: 100%
    opacity: .5
    border-bottom: 5px solid lighten($accent-color, 9%)
  10%
    border-bottom: 0 solid black
  50%
    opacity: .5
  100%
    background: black
    opacity: 0
    height: 0
    border-bottom: 5px solid black

@keyframes moveDown
  70%
    margin-top: 25vh
  76%
    margin-top: 23vh
  82%
    margin-top: 26.5vh
  88%
    margin-top: 24vh
  94%
    margin-top: 25.5vh
  100%
    margin-top: 25vh

@keyframes moveLeftRight
  0%
    padding-right: .3vw
  50%
    padding-left: .3vw


@import "../../../Assets/sass/media"
