@import "../../../Assets/sass/vars"

.home
  &-container
    position: relative
    top: 50%
    left: 50%
    width: 100vw
    margin-left: -50vw
    margin-right: -50vw
  &-header
    &-title
      text-align: center
      font-size: 3.125em
      background: url($image-header) no-repeat
      background-size: 120%
      margin-top: -10vh
      margin-left: -3vw
      height: 95vh
      width: 108vw
      border-bottom: 1px solid $main-color
      div
        color: $main-color
        margin-top: 16vh
        margin-bottom: 2vh
        font-family: 'ComfortaaL', 'sans-serif'
    &-button
      will-change: transform, opacity
      padding: 12px 0 12px 0
      width: 250px
      margin: 0 auto
      color: $button-color
      border: 1px solid $main-lighten-color
      background: $background-button-color
      font-size: 0.6em
      font-family: 'ComfortaaR', 'sans-serif'
      transition: .5s ease
      border-radius: 5px
      &:hover
        cursor: pointer
        border: 1px solid rgba(255, 236, 78, 0.05)
        background: $second-color
        opacity: .7
        color: $accent-color
        transition: .5s ease
      &:active
        transform: scale(0.98, 0.98)
        background: darken($second-color, 5%)
        color: $accent-color

  &-main
    background: lighten($accent-color, 9%)
    text-align: center
    &-title
      font-size: 4.5em
      margin-top: 7vh
      margin-bottom: -2vh
      font-family: 'ComfortaaB', 'sans-serif'
    &-tagline
      color: $tagline-text
      font-size: 2em
      font-family: 'ComfortaaL', 'sans-serif'
      margin-bottom: 3vh
    &-icon
      margin-top: 4vh
      margin-bottom: 2vh
      &-title
        margin-bottom: 2vh
        background: $main-color
        color: $accent-color
        opacity: .9
        font-family: 'ComfortaaB', 'sans-serif'
        font-size: 1.5em
        padding-top: 1.3vh
        padding-bottom: 1.3vh
      &-about
        color: $tagline-text
        margin: 0 auto !important
        width: 25vw
        font-family: 'ComfortaaL', 'sans-serif'
        font-size: 1.4em
    &-parallax
      margin-top: 15vh
      margin-bottom: 7vh
      border-bottom: 1px solid black
      border-top: 1px solid black
      &-container
        width: 100vw
        height: 80vh
    &-masonry
      margin-top: 5vh
      margin-left: 4vw
      &-border
        position: relative
        z-index: 999
        margin-top: -8vh
        background: lighten($accent-color, 9%)
        height: 15vh
    &-examples img
      width: 23vw
      padding: 5px

.importantly
  background: white
  &-title
    margin-top: -2vh
    margin-bottom: 2vh
    padding-top: 10vh
  &-tagline div
    margin: 0 auto !important
    width: 70vw
  &-button
    width: 30vw
    padding: 2vh 0
    font-size: 2em
    margin-bottom: 15vh
    background: rgba(255, 253, 65, 0.81)
    &:active
      background: darken($button-background-hover, 10%)

@import "../../../Assets/sass/media"
