@import "../../main/vars"


.portfolio-footer
  background: $accent-color
  position: relative
  top: 0
  left: 0
  z-index: 999
  &-about
    color: $main-color
    font-family: 'ComfortaaL', 'sans-serif'
    font-size: 2vw
    background: $accent-color
    width: 100vw
    padding-top: 1vh
    height: 8vh
    text-align: center
    margin: 0 auto
    &-name
      margin-top: 10vh
      font-size: 3.5vw
    &-experience
      margin-bottom: 2vh
  &-works
    width: 30vw !important
    img
      width: 30vw
      object-fit: cover
      height: 60vh
      margin-bottom: 4vh
      margin-left: 4vw
      padding-left: 2vw
      &:hover
        cursor: pointer
  &-master
    height: auto
    padding-bottom: 2vh
  &-more
    margin: 0 auto
    width: 28vw
    padding: 12px 0 12px 0
    color: $accent-color
    border: 1px solid $accent-color
    background: $second-color
    font-size: 1em
    font-family: 'ComfortaaR', 'sans-serif'
    transition: .5s ease
    border-radius: 5px
    &:hover
      cursor: pointer
      border: 1px solid rgba(255, 0, 21, 0.05)
      background: lighten($second-color, 5%)
      color: $accent-color
      transition: .5s ease
    &:active
      background: darken($second-color, 5%)
      color: $accent-color
      transition: .5s ease