@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  /**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .home-footer
    &-carousel
      height: 70vh
    &-container
      height: 50vh
    &-avatar
      width: 15vw
      img
        height: 15vw

  .modal
    width: 50vw
    &-input
      width: 40vw
    &-footer
      width: 20vw

  .modal-image-container img
    max-width: 70vw
    max-height: 90vh

  .home-main-masonry-border
    margin-top: -8vh

  .home-header-logo
    text-align: center
    font-size: 6vh

  .home-header
    background-size: cover
    height: 85vh
    font-size: 2.5em
    &-title
      padding-top: 25vh
    div
      margin-top: 0
    &-button
      padding: 1.2vw 0 1.2vw 0
      width: 25vw
      font-size: 2.65vw
      &:hover
        opacity: 1
        color: $button-color
        border: 1px solid $main-lighten-color
        background: $background-button-color
      &:active
        transform: scale(1, 1)
        color: $button-color
        background: $background-button-color

  .importantly
    &-button
      width: 40vw
      padding: 2vh 0
      font-size: 2.5em
      &:hover
        color: $accent-color
        border: 0px solid $main-lighten-color !important
        background: $second-color
        opacity: 1
      &:active
        color: $accent-color
        border: 0px solid $main-lighten-color !important
        background: $second-color

  .home-main-tagline a
    &:hover
      border-bottom: none


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  .modal
    width: 70vw
    &-input
      width: 60vw
    &-footer
      width: 30vw

  .home-main-examples
    &:hover
      cursor: default
      &::before
        content: ""
        background: none
        animation: none
        border: 0
      &::after
        content: ""
        background: none
        animation: none
    &:not(:hover)
      &::before
        content: ""
        animation: none
        border: none

  .img-blur
    width: 58vw
    height: 35vw

  .bm-item-list a
    font-size: 3vw

  .burger-icon
    margin-left: 3vw
    margin-right: 1vw
    font-size: 3vw


  .sm-disable
    display: none
  .home-main
    &-title
      font-size: 3.5em
    &-tagline
      font-size: 1.8em
    &-examples img
      width: 40vw
    &-masonry
      margin-left: 10vw
    &-icon-about
      width: 50vw

  .home-header
    height: 85vh
    font-size: 2.5em
    &-title
      padding-top: 25vh
    div
      margin-top: 0
    &-button
      padding: 1vw 0 1vw 0
      width: 40vw
      font-size: 4vw


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .img-blur
    width: 57vw
    height: 35vw

  .xs-disable
    display: none
  .home-main
    &-title
      font-size: 2em
      margin-bottom: .1vh
    &-tagline
      font-size: 1.1em
      margin-bottom: .1vh
    &-examples img
      width: 80vw
    &-masonry
      margin-left: 10vw
    &-icon-about
      width: 80vw
    &-parallax
      margin-bottom: .1vh
      &-container
        height: 50vh

  .home-header
    height: 85vh
    font-size: 2em
    &-down
      display: none
    &-logo
      margin-left: 3vw
    &-title
      padding-top: 25vh
    div
      margin-top: 0
      font-family: 'ComfortaaR', 'sans-serif'
    &-button
      color: black
      padding: 2vw 0 2vw 0
      width: 50vw
      font-size: 5vw

  .importantly
    &-tagline
      margin-bottom: 3vh
    &-button
      color: white

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
