@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
  .header-menu-link
    padding-top: 3vh


/* Medium Devices, Desktops */
@media only screen and (max-width : 991px)
  .home-main-masonry-border
    margin-top: -6vh

  .header-menu-logo
    text-align: center
    font-size: 5vh
    padding-top: 1vh

  .home-header
    &-title
      margin-top: 0
      background-size: cover
      height: 85vh
      font-size: 4.5vw
    &-button
      padding: 1.2vw 0 1.2vw 0
      width: 25vw
      font-size: 2.65vw
      &:hover
        color: $button-color
        border: 1px solid $main-lighten-color
        background: $background-button-color
      &:active
        transform: scale(1, 1)
        color: $button-color
        background: $background-button-color


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
  //.home-main-masonry-border
  //  margin-top: -13vh

  .sm-disable
    display: none
  .home-main
    &-title
      font-size: 3.5em
    &-tagline
      font-size: 1.8em
    &-examples img
      width: 40vw
    &-masonry
      margin-left: 10vw
    &-icon-about
      width: 50vw

  .home-header
    &-title
      height: 75vw
      font-size: 5vw
      div
        margin-top: 14vw
    &-button
      padding: 1vw 0 1vw 0
      width: 40vw
      font-size: 4vw

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
  .xs-disable
    display: none
  .home-main
    &-title
      font-size: 2em
      margin-bottom: .1vh
    &-tagline
      font-size: 1.1em
      margin-bottom: .1vh
    &-examples img
      width: 80vw
    &-masonry
      margin-left: 10vw
    &-icon-about
      width: 80vw
    &-parallax
      margin-bottom: .1vh
      &-container
        height: 50vh


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/
