@import "fonts"
@import "libs"
@import "vars"

body
  overflow-x: hidden


///////////////////////// BURGER MENU //////////////
.outer-container
  margin-left: -1vw

.bm-burger-button
  position: fixed
  width: 36px
  height: 30px
  left: 4vw
  top: 2.6vh

.bm-burger-bars
  background: $accent-color

.bm-menu
  padding: 0 2vw 0
  background: $main-lighten-color

.img-blur
  background: url('../../Assets/img/leftMenuLogo.jpg') no-repeat
  background-size: 100%
  width: 22vw
  height: 27vh
  margin-left: -2vw
  margin-bottom: 6vh
  -webkit-filter: blur(3.5px)
  -moz-filter: blur(3.5px)
  filter: blur(3.5px)
  opacity: .3

.bm-item-list a
  text-decoration: none
  color: $accent-color
  font-size: 1.2em
  font-family: 'MontserratL', 'sans-serif'

.bm-overlay
  background: rgba(0, 0, 0, 0.3)
  margin-left: 1vw

.burger-icon
  width: 5vw
  float: left
  color: $accent-color
  font-size: 1.2em
  text-align: center
  margin-left: -1.5vw




@import "media"
